.mypage-container {
  padding: 20px; /* Add some padding for inner spacing */
  border-radius: 15px; /* Rounded corners */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the items horizontally */
  width: 30vw; /* Container width based on content */
  height: 70vh;
  margin: 0 auto; /* Center the container */
  background-color: white; /* Optional: background color for the container */
}

.mypage-profile-image {
  width: 15vmin; /* Adjust as needed */
  height: 15vmin; /* Adjust as needed */
  border-radius: 50%; /* Make the image a circle */
  object-fit: cover; /* Ensure the image covers the area */
  margin-bottom: 5vh; /* Space between the image and the name */
  margin-top: 5vh;
}

.mypage-nickname-input {
  font-size: 1.2rem; /* Adjust font size as needed */
  border: 1px solid #ccc; /* Optional: border for input */
  border-radius: 5px; /* Rounded corners for input */
  padding: 5px; /* Padding for input */
  text-align: center; /* Center the text in the input */
  margin-right: 10px; /* Space between input and edit icon */
  margin-left: 24px;
  margin-bottom: 2vh;
  width: 8vw;
}

.mypage-nickname-input:read-only {
  border: none;
}

.mypage-nickname-input:focus {
  outline: none;
}

.mypage-nickname-input:not(:read-only):focus {
  outline: 2px solid black; /* Optional: border for input */
}

.mypage-edit-icon {
  cursor: pointer; /* Pointer cursor on hover */
  color: #B1B2FF; /* Color of the edit icon */
}

.mypage-logout-button {
  background-color: white; /* Button background color */
  color: #B1B2FF; /* Button text color */
  padding: 1vh 1vw; /* Padding for the button */
  border-radius: 5px; /* Rounded corners for the button */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 0.9rem; /* Adjust font size as needed */
}

.mypage-logout-button:hover {
  background-color: #B1B2FF; /* Background color on hover */
  color: white; /* Text color on hover */
}