
.new-subject-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #eef1ff;
  }
  
  .new-subject-form {
    width: 60vw;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .subject-form-group {
    margin-bottom: 20px;
  }
  
  .subject-form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .subject-form-group input[type="text"] {
    width: 45vw;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .subject-form-group select {
    width: calc(100% - 24px); /* 내부 패딩을 고려한 너비 설정 */
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
  
  .elements-grid {
    display: grid;
    grid-template-columns: repeat(4, 1.5fr);
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .element-card {
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .element-card input[type="text"] {
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .element-card input[type="file"] {
    width: 100%;
  }
  
  .add-element-button, .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #aac4ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .add-element-button:hover, .submit-button:hover {
    background-color: #88a8ff;
  }
  