/* Ranking.css */
body {
    background-color: #EEF1FF; /* 배경색 설정 */
    margin: 0;
    font-family: Arial, sans-serif; /* 폰트 설정 */
}

.ranking-main-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.ranking-box {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    margin: 0 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    width: 28vw;
    max-height: 60vh;
    overflow-y: auto;
}

.ranking-box-title {
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.ranking-subject-card{
    background-color: #F8F8F8;
    border-radius: 50px;
    padding: 2px;
    margin: 5px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    cursor: pointer;
}
.ranking-subject-card.selected {
    background-color: #EEF1FF; /* 선택된 주제의 배경색 설정 */
}
.ranking-element-card{
    background-color: #F8F8F8;
    border-radius: 50px;
    padding: 2px;
    margin: 5px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 0.8em;

}

.ranking-subject-card:hover, .ranking-element-card:hover {
    background-color: #E0E0E0;
}

.ranking-subjects-container {
    display: flex;
    flex-direction: column;
}

.ranking-element-card img {
    max-width: 100%; /* 이미지 최대 너비 설정 */
    height: auto; /* 이미지 비율 유지 */
    display: block; /* 이미지 블록 레벨 요소로 설정 */
    margin: 0 auto; /* 이미지 가운데 정렬 */
}