.top-nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 2vmin;
  background-color: #eef1ff;
  overflow: auto;
}
.tnm-logo-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.tnm-logo {
  display: flex;
  width: 250px;
}
.tnm-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tnm-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tnm-nav-link {
  padding: 4vh 4.5vw;
  font-size: x-large;
  font-weight: bold;
  text-decoration-line: none;
  color: black;
}

.tnm-nav-link:hover {
  padding: 3vh 1.5vw;
  margin: 0vh 3vw;
  font-size: x-large;
  font-weight: bold;
  text-decoration-line: none;
  color: black;
  background-color: #AAC4FF;
  border-radius: 33px;
}

.tnm-nav-link-click {
  padding: 4vh 4vw;
  margin: 0vh 3vw;
  font-size: x-large;
  font-weight: bold;
  text-decoration-line: none;
  color: black;
  background-color: #AAC4FF;
  border-radius: 33px;
}

.tnm-hr {
  border: 2px solid #a8acc1;
  margin-right: 1vw;
  margin-top: 2vh;
  margin-bottom: 0vh;
  border-radius: 4px;
}